HelloWord/HelloWord/Release/
HelloWord/HelloWord/Debug/mian.obj
HelloWord/HelloWord/Debug/
HelloWord/HelloWord.VC.VC.opendb
HelloWord/.vs/HelloWord/v15/Browse.VC.opendb
*.opendb
NDKDemo/NDKDemo/Debug/
CDemo/CDemo/Debug/
JNIDemo/JNIDemo/x64/Debug/JNIDemo.tlog/JNIDemo.lastbuildstate
JNIDemo/JNIDemo/x64/Debug/
JNIDemo/JNIDemo/Debug/
JNIDemo/x64/Debug/
